@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2bc94;
}

h1 {
    text-align: center;

}

h2{
width: 150px;
background-color:#722620;
color: #de8a0d;
border-radius: 3px;
padding: 5px;
}

h3{
color: #de8a0d;
}

article{
    font-size: small;
    }